---
title: Accessing Hive Table Data with PXF
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

Apache Hive is a distributed data warehousing infrastructure. Hive facilitates managing large data sets supporting multiple data formats, including comma-separated value (.csv), RC, ORC, and parquet. 

The PXF Hive connector reads data stored in Hive. This section describes how to use the PXF Hive connector. 

## <a id="hive_prereq"></a>Prerequisites

## <a id="hive_fileformats"></a>Hive File Formats

## <a id="hive_datatypemap"></a>Data Type Mapping
### <a id="hive_datatypemap_prim"></a>Primitive Data Types
### <a id="hive_datatypemap_complex"></a>Complex Data Types

## <a id="hive_sampledset"></a>Sample Data Set

## <a id="hive_cmdline"></a>Hive Command Line
### <a id="hive_cmdline_example"></a>Example: Creating a Hive Table
### <a id="hive_cmdline_fileloc"></a>Determining the HDFS Location of a Hive Table

## <a id="hive_hcatalog"></a>Using PXF and HCatalog to Query Hive

## <a id="hive_queryextdata"></a>Querying External Hive Data with an External Table

## <a id="hive_hive"></a>Hive Profile
### <a id="hive_hive_example"></a>Example: Using the Hive Profile

## <a id="hive_hivetext"></a>HiveText Profile
### <a id="hive_hivetext_example"></a>Example: Using the HiveText Profile

## <a id="hive_hiverc"></a>HiveRC Profile
### <a id="hive_hiverc_example"></a>Example: Using the HiveRC Profile

## <a id="hive_orc"></a>ORC File Format
### <a id="hive_hiveorc_example"></a>Example: Using the HiveORC Profile
### <a id="hive_hivevectorizedorc_example"></a>Example: Using the HiveVectorizedORC Profile

## <a id="hive_parquet"></a>Accessing Parquet-Format Hive Tables

## <a id="hive_complex"></a>Complex Data Types
### <a id="hive_complex_hive"></a>Example: Using the Hive Profile with Complex Data Types
### <a id="hive_complex_hiveorc"></a>Example: Using the HiveORC Profile with Complex Data Types

## <a id="hive_partitioning"></a>Partition Filtering
